.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 60px 0 0;
  box-shadow: inset -2px 0 5px rgba(10, 10, 10, 0.1);
  z-index: 99;
}

@media (max-width: 500px) {
  .sidebar {
    top: 8.5rem;
    padding: 0;
  }
}

.navbar {
  box-shadow: inset 0 -2px 5px rgba(10, 10, 10, 0.1);
}

@media (min-width: 500px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.sidebar .nav-link {
  color: rgb(34, 170, 255);
}

.sidebar .nav-link.active {
  color: #0059df;
}
